.filtro-contenedor {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

/* Estilos del input de filtro */
#mes {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}
/* Estilos del botón de filtrar */
#btn-filtrar {
    background-color: #539160;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambio de color del botón al pasar el cursor sobre él */
#btn-filtrar:hover {
    background-color: #28803a;
}
.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile {
    flex: 0 0 calc(50% - 20px); /* Distribuye los perfiles en dos columnas, con espacio entre ellos */
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.profile label {
    display: block;
    margin-bottom: 5px;
}

.profile input[type="text"],
.profile input[type="file"] {

    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .profile {
        flex-basis: 100%; /* Hace que los perfiles ocupen el 100% del ancho en pantallas pequeñas */
    }
}